.home {
  padding-top: 4rem;
  background: url(../../../public/image/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.home .slides-container .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
  display: none;
}

.home .slides-container .slide.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .slides-container .slide .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  -webkit-animation: fadeLeft .4s linear .4s backwards;
  animation: fadeLeft .4s linear .4s backwards;
}

.home .slides-container .slide .content span {
  color: #666;
  font-size: 2.5rem;
}

.home .slides-container .slide .content h3 {
  font-size: 6rem;
  color: #222;
  padding: .5rem 0;
}

.home .slides-container .slide .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  margin: 3rem 0;
}

.home .slides-container .slide .image img {
  width: 100%;
  -webkit-animation: fadeUp .4s linear;
  animation: fadeUp .4s linear;
}