.banner-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.banner-container .banner {
  position: relative;
  height: 25rem;
  overflow: hidden;
}

.banner-container .banner:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.banner-container .banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.8;
}

.banner-container .banner .content {
  position: absolute;
  top: 50%;
  left: 2rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner-container .banner .content span {
  color: rgb(28, 27, 27);
  font-size: 1.5rem;
}

.banner-container .banner .content h3 {
  font-size: 2rem;
  padding-top: .5rem;
  color: #222;
}

.banner-container .banner .content .btn {
  padding: .8rem 2.5rem;
}